<a href="https://colab.research.google.com/github/shreyashsonawane/Ecompare/blob/master/linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv(r"hours.csv")
df

   hour_spent  risk_score
0          10          95
1           9          80
2           2          10
3          15          50
4          10          45
5          16          98
6          11          38
7          16          93

In [7]:
x = df.drop(["risk_score"],axis=1).values
y = df["risk_score"].values
print(x)
print(y)

[[10]
 [ 9]
 [ 2]
 [15]
 [10]
 [16]
 [11]
 [16]]
[95 80 10 50 45 98 38 93]

In [9]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x,y)

print("accuracy of the model is :",model.score(x,y)*100)

accuracy of the model is : 43.709481451010035

In [10]:
hours = int(input("enter the hours: "))
print(model.predict([[hours]])[0])
eq = model.coef_*hours + model.intercept_
print(eq[0])

enter the hours: 8
49.28781684382666
49.28781684382666